.page {
  height: 100%;
  h2 {
    color: white;
    text-align: center;
  }
}
.header {
  height: 10%;
}

.content {
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 90%;
}

.opening {
  width: 60%;
  color: gold;
  text-align: center;
}

.information {
  p {
    color: gold;
    text-align: center;
  }
}

.lists {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}
