.header {
  background-color: rgb(12, 12, 12);
  padding-left: 1.5%;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  box-shadow: 0 4px 2px -2px rgb(65, 64, 64);

  h1 {
    color: gold;
  }
}
